@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html,
body {
    background-color:#dce1e5;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*HEADER */

header {
    background-color: black;
    font-size: 18px;
    color: #EFF5FB;
}

header .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 120px;
    margin: auto;
}

header .cabecalho h2 {
    color: #ffb914;
    font-size: 35px;
}

header .cabecalho h2 a {
    text-decoration: none;
    color: #ffb914;
    font-size: 35px;
}

header .cabecalho h2 span {
    color: #EFF5FB;
    font-size: 18px;
    font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #ff8826;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    transition: all 240ms linear 0s;
}

header nav ul li a:hover {
    background-color: rgba(255,255,255,0.16);
    border-radius: 5px;
}

#checkbox-menu {
    display: none;
}


/*MAIN */

main {
    margin-bottom: 50px;
}

main .container-main {
    display: flex;    
    align-items: center;
    justify-content: space-between;    
    max-width: 980px;
    margin: 120px auto 140px auto;
}

main .container-main h1 {
    font-size: 50px;
    color: #212020;
}

main .container-main p {
    color:#424242;
    margin-top: 15px;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}

main .botao-simulacao  {
    text-align: center;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    background-color: black;     
}

main .botao-simulacao a {
    text-decoration: none;
    color: #EFF5FB;
    font-weight: 800;
    background-image: linear-gradient(to right, rgb(228, 232, 11), rgb(211, 179, 22), rgb(167, 150, 40));
    color: transparent;
    background-clip: text;
    -webkit-background-clip:text;    
}

main .botao-simulacao a:hover {
    background-color: rgb(224, 123, 51);
}

main .img-logo img {
    max-width: 520px;
    max-height: 500px;
    margin-left: 50px; 
    border-radius: 8px;
}

/*SECTION- objetivos */

.conteudo-objetivos {
    margin: 6px auto 120px auto;
    display:flex;
    justify-content: center;
    text-align: justify;  
    flex-wrap: wrap;
    gap: 8px;  
}

.titulo-obj h1 {          /*ESTÁ ANTES DA SECTION */
    font-size: 46px;
    font-family: 'Roboto Condensed';
    color: #212020;
    display: flex;
    justify-content: center;  
    max-width: 980px;
    margin: auto;
    padding-bottom: 55px;
}


.texto-obj {
    margin: 10px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    color: #a5a9ac;
    display: flex;
}

.cards-objetivos {
    width: 300px;
    min-width: 250px;
    height: 380px;
    display: flex;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 8px 8px 15px -5px;
    transition: all 0.5s ease 0.1s;
    margin: 10px;
    align-content: center;
    background: #464748 url("./imagens/simbolenergfinalp3.png");
    overflow: hidden;
}

.cards-objetivos:hover {
    transform: translateY(-2px) scale(1.1);
}

/*SECTION - VANTAGENS*/

.container-vantagens {
    /*height: 550px;*/
    display: flex;
    flex-wrap: wrap;
    background-color: #b95f15;
    color:#2d2c2c;
    justify-content: center;
    gap: 5px;
    margin: 0px 2px 100px 0px ;
    padding-top: 70px;
    border-radius: 4px;
}

.vantagem {
    width: 300px;    
}

#titulo-vantagens h1 {
    display: flex;
    font-family: 'Roboto Condensed';
    font-size: 42px;
    font-weight: 600;
    background-color: #b95f15;
    color:#1C1C1C;
    justify-content: center;
    margin: 0px;
    padding-top: 60px;
}

.vantagem h3 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    color:#1C1C1C;
    padding-bottom: 15px;
}

.vantagem p {
    font-weight:600;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    line-height: 33px;
    display: flex;
    text-align: justify;
    padding: 15px;
}


/*SECTION 2 -regioes atendidas*/

.regiao-atendimento {
    display:flex;  
    justify-content: center;
    align-items: center;   
    max-width: 980px;
    margin: 80px auto 160px auto;
}

#titulo-regiao  {
    display:flexbox;
    color: #1C1C1C;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    text-align: center;
    line-height: 100px;
}

.img-mapa img {
    display: flex;
    width: 480px;
    align-items: center;
    
}

.texto-reg-atendimento p {
    font-size: 20px;
    color: #2d2c2c;
    line-height: 30px;
    margin: 15px auto;
    padding-left: 30px;
    text-align: justify;
}

.italico {
    font-style: italic;
    color: black;
    font-size: 22px;
}

/*FOOTER*/

.rodape {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: #eaedf0;
    font-size: 18px;
}

.rodape img{
    width: 50px;  
}

.titulo-rodapes {
    padding-top: 15px;
    padding-bottom: 20px;
}

.titulo-rodapes h4 {
    color: #ff8826;
    margin: 15px 0 15px 0;
}

.titulo-rodapes p {
    line-height: 30px;
    margin: 15px auto;
    justify-content: center;
}


.titulo-rodapes ul li a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.rodape ul li {
    list-style: none;
}

.faleconosco h4 p {
    position:relative;
}