@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@media (max-width:1000px) {
    main .container-main div{
       margin: auto; 
    }
    main .container-main img{
        display: none;
    }
    h1 {
        margin-left: 30px;
    }
    div p {
        margin-left: 30px;
    }
}
@media (max-width: 1000px) {
    .cabecalho {
        padding: 0px 20px;
    }
}

/*ALTEREI AQUI */
@media (max-width: 821px) {
    /*header */
    header nav ul li a:hover {
        background-color: rgba(255,255,255,0.16);
        border-radius: 5px;
    }
    /*objetivos */
    .titulo-obj h1 {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .cards-objetivos {
        width: 240px;
    }
}

@media (max-width: 630px) {    
    /*FORMATAÇÃO BOTÃO HAMBURGUER */
    .container-botao-menu {
        display: flex;
    }
    .menu-cabecalho {
        position: absolute;
        margin-top: 60px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.7s ease transform;
    }
    .menu-cabecalho >li {
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 70px;
        background-color:  #ff8826;
        border-radius: 4px;
    }
    .menu-cabecalho>li:not(:last-child) {
        border-bottom: 1px solid rgb(229, 235, 229);
    }
    .menu-cabecalho li a {
        flex: 1;
        text-align: center;
    }

    header nav ul li a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-family:  Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
    }

    /*MAIN */
    .cabecalho h2 {
        padding-left: 50px;
    }
    main .container-main {
        margin-top: 75px;
    }

    main .container-main {
        margin-right: 6px;
    }
    main .container-menu {
        display: none;
    }
    .container-menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    #checkbox-menu {
       position: absolute; 
       opacity: 0;
    }
    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }
    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 25px;
        transition: 0.25s ease-in-out;
        background-color: #ff8826;
    }
    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 8px;
    }
    label span:nth-child(3) {
        top: 16px;
    }
    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
    }
    #checkbox-menu:checked + label span:nth-child(2){
       opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top: 8px;
    }
    nav .menu-cabecalho {
        width: 100%;
    }
    #checkbox-menu:checked~nav .menu-cabecalho {
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }


/*SECTION 2 -regioes atendidas*/

.regiao-atendimento {
    display:flex;  
    justify-content: center;
    align-items: center;   
    max-width: 980px;
    margin: 80px auto 160px auto;
}

#titulo-regiao  {
    display:flexbox;
    color: #1C1C1C;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    text-align: center;
    line-height: 100px;
}

.img-mapa img {
    display: flex;
    width: 350px;
    align-items: center;
    
}

.texto-reg-atendimento p {
    font-size: 17px;
    color: #2d2c2c;
    line-height: 30px;
    padding-right: 5px;
    margin: 15px auto;
    padding-left: 30px;
    text-align: justify;
}

.italico {
    font-style: italic;
    color: black;
    font-size: 22px;
}
}       

@media (max-width: 480px) {

    /*header */
    header .cabecalho h2 {
        font-size: 28px;
    }

    header .cabecalho h2 span {
        font-size: 15px;
    }

    /*main */

    main .container-main {
        display: flex;    
        align-items: center;
        justify-content: space-between;    
        max-width: 980px;
        margin: 80px auto 70px auto;
    }

    main .container-main h1 {
        font-size: 35px;
        text-align: center;
        margin: auto;
    }

    
main .container-main p {
    color:#424242;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    margin: 10px;
}

    /*SECTION- objetivos */
.conteudo-objetivos {
    width: 100%;
    margin: 10px auto 50px auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    }

.titulo-obj h1 {
    font-size: 28px;
    }

    .texto-obj p {
        margin: 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #a5a9ac;
        display: flex;
        overflow: hidden;
    }

    .cards-objetivos {
        width: 300px;
        justify-content: center;
        text-align: center;
        margin: 15px auto;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 7px 7px 15px -5px;
        transition: all 0.5s ease 0.1s;
    }

    /*SECTION - VANTAGENS*/

.container-vantagens {
    display: flex;
    flex-wrap: wrap;
    background-color: #b95f15;
    color: #2d2c2c;
    justify-content: center;
    gap: 5px;
    margin: 0px 2px 40px 0px ;
    padding-top: 70px;
    border-radius: 4px;
}

.vantagem {
    width: 300px;    
}

#titulo-vantagens h1 {
    display: flex;
    font-family: 'Roboto Condensed';
    font-size: 27px;
    background-color: #b95f15;
    color: #1C1C1C;
    justify-content: center;
    margin: 0px;
    padding-top: 60px;
    text-align: center;
    line-height: 38px;
}

.vantagem h3 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-size: 26px;
    color: #1C1C1C;
    padding-bottom: 15px;
}

.vantagem p {
    font-size: 21px;
    font-family: 'Roboto Condensed';
    display: flex;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 16px;
    line-height: 30px;
}

/*SECTION 2 -regioes atendidas*/

.regiao-atendimento {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;   
    max-width: 980px;
    margin: 30px auto 40px auto;
}

#titulo-regiao  {
    display:flexbox;
    color: #1C1C1C;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    text-align: center;
}

.img-mapa img {
    display: flex;
    width: 280px;
    align-items: center;    
}

.texto-reg-atendimento p {
    font-size: 17px;
    color: #2d2c2c;
    line-height: 30px;
    padding-right: 5px;
    margin: 15px auto;
    padding: 30px;
    text-align: justify;
}

.italico {
    font-style: italic;
    color: black;
    font-size: 22px;
}

/*FOOTER*/

.rodape {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    color: #eaedf0;
    font-size: 15px;
}

.rodape img{
    width: 60px;  
}

.titulo-rodapes {
    padding-top: 15px;
    padding-bottom: 20px;
}

.titulo-rodapes h4 {
    color: #ff8826;
    margin: 15px 0 15px 0;
}

.titulo-rodapes p {
    line-height: 30px;
    margin: 15px auto;
    justify-content: center;
}


.titulo-rodapes ul li a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.rodape ul li {
    list-style: none;
}

.faleconosco h4 p {
    position:relative;
}

#rodape-media-smartphones {
    display: none;
}
}
       